<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add to company </title>
</head>
<body>
<form action="/add" method="POST">
	{% for task in tasks %}
		Name: {{ task['name'] }}<br/>
	<input type="text" name="_id" value="{{ task['name'] }}" hidden>

	<table>
	<tr>
	<td></td><td><input type="text" name="name_user" value="{{ task['name_user'] }}" placeholder="{{ task['name'] }}"></td>
	</tr>
	<tr>
	<td>Email</td><td><input type="text" name="email" rows=3 cols=30 placeholder="{{ task['email'] }}"> {{ task['desc'] }} </input></td>
	</tr>
	<tr>
	<td>Position</td><td><input type="text" name="position" value="{{ task['position'] }}" placeholder="{{ task['date'] }}"></td>
	</tr>
	</table>
	{% endfor %}
		<button type="submit"> Update Task </button>
		<br/>
	</form>
</body>
</html>