<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<h1>Add new contact</h1>
<form action="/add_new_user" method="POST" style="display:flex">
    <p style="margin-right:10%">Name
      <input style="width:100%" type="text" name="name" size="30" value="{{items.name}}"></p>
    <p style="margin-right:10%">Email
      <input style="width:100%" type="text" name="email" size="30" value="{{items.email}}"></p>
    <p style="margin-right:10%">Position
      <input style="width:100%" type="text" name="position" size="30" value="{{items.position}}"></p><br>
      <input type="submit" value="add" style="width:50px;height: 25px;margin-top:2%"/>
</form>
<hr>
<h2>Table Contact</h2>
<table>
  <thead>
      <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Position</th>
      </tr>
  </thead>
{% for item in items %}
<tbody>
			<td>{{item["name_user"]}}</td>
			<td>{{item["email"]}}</td>
            <td>{{item["position"]}}</td>
            <td><a href="./remove?_id={{ item['_id'] }}"><button type="submit">Delete</button></a></td>
            <td><a href="/edit?_id={{ item['_id'] }}"><button type="submit">Edit</button></a></td>
            <td>
                <select name="my_name">
                    {% for val in value %}
                    <option selected="selected">
                    {{val["name"]}}
                        {% endfor %}
                    </option>

                </select>
            </td>

</tbody>
{% endfor %}
    </table>
</body>
</html>